
<div *ngIf = "hero">
  <h2> {{hero.name| uppercase}} Details  </h2>
  <div>id: {{hero.id}} </div>
  <div>
    <label for="hero-name">Hero name:</label>
    <input for="hero-name" [(ngModel)]="hero.name" placeholder = "name">
  </div>
  
  <button type="button" (click) ="goBack()">goBack</button>
  <button type="button" (click) ="save()">Save</button>
  
</div>