<h2>Top Heroes</h2>
<app-hero-search>   </app-hero-search>
<div class = "heroes-menu">
    <a *ngFor = "let hero of heroes"
    routerLink = "/detail/{{hero.id}}">
        {{hero.name}}
    </a>
</div>
