<!--<p>Heroes</p>
<h2>{{hero.name | uppercase}}</h2>
<div><span>name: </span>{{hero.name}}</div>n
<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>
-->
<h2>My Heroes</h2>
<!--
  With onSelect method
-->
<!-- 
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button type="button" (click) = "onSelect(hero)" 
            [class.selected] = "hero === selectedHero">

      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    
    </button>
  </li>
</ul> 
-->

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->

<!--
  With Links
-->
<div>
  <label for="new-hero">Hero-name</label>
  <input id="new-hero" #heroName/>
  <button type="button" class="add-button" (click) ="add(heroName.value); heroName.value = '' " >Add Hero</button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink = "/detail/{{hero.id}}">
      <span class="badge">  {{hero.id}}   </span> {{hero.name}}
    </a>
    <button type="button" class="delete" title="delete hero"
    (click) ="delete(hero)">x</button>
  </li>
</ul> 