
<div id = "search-component">
    <label for="search-box">Hero-search</label>
    <input #searchBox type="search-box" (input)="search(searchBox.value)">

    <ul>
        <li *ngFor="let hero of heroes$ | async">
            <a routerLink="/detail/{{hero.id}}">    
                {{hero.name}}
            </a>

        </li>
    </ul>
</div>